/* .App {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

#canvas {
  margin: 0, auto;
  border: 4px solid black;
  width: 625px;
  height: 625px;
  background-color: white;
} */
